@import "variables.scss";
@import "bootstrap.scss";

header,
footer {
  background-color: $hexagon-color-background;
}

a {
  text-decoration: none;
  transition: all .3s;

  &:hover {
    color: $hexagon-color-link-hover;
  }
}

.btn {
  transition: all .3s;
}